<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style/css/player.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <main>
        <audio src="<%=sdata.song%>" autoplay></audio>
        <nav>
            <div id="nlft">
                <div id="logo">
                    <h3>Liste<span>now.</span></h3>

                </div>
                <div id="nlinks">
                    <a href="/profile">Home</a><a href="#">Browser</a><a href="#">Premium</a>

                </div>
            </div>

            <div id="nicons">
                <i class="ri-sun-line"></i>
                <i class="ri-earth-fill"></i>
                <i class="ri-user-add-fill" id="sb1Btn"></i>
            </div>
        </nav>
        <div id="hero">
            <div id="poster">


                <div id="sideImg">
                    <img src="https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                        alt="">

                </div>
                <div id="glow">


                </div>
                <div id="mImg">
                    <img src="<%=sdata.sPic%>" alt="">

                </div>

            </div>
            <div id="songInfo">
                <div id="stxt">
                    <h2>
                        <%=sdata.name%>
                    </h2>
                    <p>
                        <%=`${sdata.artist},${sdata.album},${sdata.language}`%>
                    </p>

                </div>

                <div id="player">

                    <div class="pelm">
                        <div id="time">
                            <p>0:00</p>
                            <p>4:44</p>
                        </div>




                    </div>
                    <div class="pelm">
                        <div id="timeBar">
                            <div id="slider">

                            </div>
                        </div>

                    </div>
                    <div class="pelm">
                        <div id="volume">
                            <i class="ri-volume-up-fill"></i>

                        </div>
                        <div id="controller">
                            <i class="ri-repeat-line"></i>
                            <i class="ri-skip-back-fill"></i>
                            <i class="ri-pause-circle-fill" id="play"></i>
                            <i class="ri-skip-forward-fill"></i>
                            <i class="ri-shuffle-line"></i>



                        </div>
                        <div id="addList">
                            <i class="ri-play-list-add-fill"></i>
                        </div>
                    </div>



                </div>
                <a href="/likeSong/<%=sdata._id%>" id="sLikes">
                    <i class="ri-heart-3-fill"></i>
                </a>


            </div>

        </div>

    </main>




    <script src="/javascripts/player.js"></script>

</body>

</html>